body{
font-family: 'poppins', sans-serif
}
.half-width{
    margin-top: 80px;
    width:50%;
    padding-left: 30px;
}

.next-width img{
    width:60%;
    
}
section{
    display:flex;
    padding-bottom: 20px;
}
h1{
    font-size: 30px;
}
.orange-color{
    color:orange;
}
.second-image img{
    width:70%;

}
.about{
    width:40%;
}
.button{
    background-image: linear-gradient(rgb(255, 102, 0),orange);
    padding: 10px 20px;
    border-radius: 20px;
    color:white;
    font-weight: 700;
    text-decoration: none;
}
.second-section{
    
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(224, 245, 175),rgb(224, 213, 213));
}
.no-section{
    text-align: center;
}
.recipie-title{
    width:20%;
    padding-left: 10px;
    box-shadow: 10px 10px 20px gray;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.recipie-title img{
    width:200px;
    padding-top:10px;
    padding-right: 10px;
}
.third-section{
    margin-left: 250px;
    margin-right: 20px;
}
.fourth-section{
    margin-left: 105px;
    margin-right: 175px;
    margin-top: 45px;
    margin-bottom: 55px;
    border-radius: 20px;
    
    box-shadow: 10px 10px 20px;
}
.lower{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.footer-food{
   color: orange; 
}
footer{
    color: white;
text-align: center;
background-color: black;
padding-bottom: 5px;
padding-top: 5px;
}
.five{
    color:white;
    text-align: center;
    background-image: url(food/p5.png);
}